.through{
    text-decoration: line-through;
}
.itemlist{  
   
    margin: 10px;
    border-radius: 10px;
    background-color:rgb(245, 241, 241);

}

.MuiListItemText-secondary  {
text-align: right;

}